/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Smooch+Sans:wght@100;200;300;400;500;600;700&display=swap');
/*  VARIABLES CSS  */
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*  Colours  */
  /* HSL color mode */
  --hue-color: 187;
  --first-color: hsl(var(--hue-color), 72%, 45%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  /* --dark-1: #142850; */
  --dark-1: #083358;
  --dark-2: #27496D;
  --grey: #B7CADB;
  --white: #EEEEEE;
  /* Typography */
  --body-font: 'Roboto', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /* Margins */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /* Z Index */
  --z-back: -10;
  --z-normal: 1;
  --z-tooptip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/* BASE */
*, ::before, ::after {
  box-sizing: border-box;
  /* color: var(--white); */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  /* color: var(--second-color); */
  background-color: var(--dark-2);
}

h1, h2, p {
  margin: 0;
  color: var(--white);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* CLASS CSS */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  /* color: var(--first-color); */
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/* LAYOUT */
.bd-grid {
  max-width: 1024px;
  display: grid;
  /* grid-template-columns: 100%;
    grid-column-gap: 2rem; */
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--dark-1);
  color: var(--white);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/* NAV */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  background-color: var(--dark-1);
  font-weight: var(--font-semi);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--dark-1);
    color: var(--white);
    transition: .5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
  color: var(--white);
}

.nav__link {
  position: relative;
  color: var(--white);
}

.nav__link:hover {
  position: relative;
  color: var(--grey);
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
  /* color: var(--white); */
}

.nav__logo {
  color: var(--white);
}

.nav__logo img{
  width: 80px;
  height: 80px;
}

.nav__toggle {
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
  color: var(--white);
}

/* Show Menu */
.show {
  right: 0;
}

/* HOME */
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
}

.home__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  color: var(--white);
  margin-bottom: var(--mb-5);
}

.home__title-color {
  color: var(--first-color);
}

.home__social {
  display: flex;
  flex-direction: column;

}

.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--white);
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
}

.home__blob {
  fill: var(--first-color);
}

.home__blob-img {
  width: 380px;
}

/* Buttons */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
}

.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

/* ABOUT */
.about__container {
  row-gap: 2rem;
  text-align: center;
  color: var(--white);
}

.about__subtitle {
  margin-bottom: var(--mb-2);

}

.about__img {
  justify-self: center;
}

.about__img img {
  width: 200px;
  border-radius: .5rem;
}

/* SKILLS */
.skills__container {
  row-gap: 2rem;
  color: var(--white);
  text-align: center;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}
